# Next.js
.next/
out/
build/
dist/

# Cache
.cache/
*.pack
.next/cache/
.next/cache/webpack/

# Dependencies
node_modules/
package-lock.json

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Misc
.DS_Store
*.pem